<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AbsioESQLite" version="1.0.2" targetFramework="net461" />
  <package id="AbsioSdk" version="2.1.0-rc-49" targetFramework="net461" />
  <package id="Colorful.Console" version="1.1.2" targetFramework="net461" />
  <package id="CommandLineParser" version="2.1.1-beta" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="openssl-net" version="0.7.3" targetFramework="net461" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Parallel" version="4.3.0" targetFramework="net461" />
</packages>